@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="list-category-container">
        @if (Model.ActiveCategory == null)
        {
            <div class="active"><a href="#">Tất cả</a></div>
            @foreach (var category in Model.Categories)
            {
                <div><a href="/home/?categoryID=@category.ID">@category.Title</a></div>
            }
        }
        else
        {
            <div><a href="/">Tất cả</a></div>
            @foreach (var category in Model.Categories)
            {
                @if (category.ID == Model.ActiveCategory.ID)
                {
                    <div class="active"><a href="#">@category.Title</a></div>
                }
                else
                {
                    <div><a href="/home/?categoryID=@category.ID">@category.Title</a></div>
                }
            }
        }
    </div>
    <div class="list-product-container">
        @foreach (var product in Model.Products)
        {
            <div class="product-container" onclick="handleProductClick('@product.ID')">
                <div class="product-img-container">
                    <img alt="@product.Name" src="@product.ThumbnailSrc" class="product-img" />
                </div>
                <div class="product-description-container">
                    <p class="product-price">@product.Price <b>VND</b></p>
                    <p class="product-name">@product.Name</p>
                </div>
            </div>
        }
    </div>
</div>

<style scoped>
    .list-category-container {
        display: flex;
        justify-content: space-evenly;
        border-bottom: 1px solid #ccc;
        padding: 20px 0px;
        margin: 0px 10%;
    }

        .list-category-container div {
            margin-bottom: 5px;
        }

            .list-category-container div:hover {
                cursor: pointer;
                color: #66C2D5;
            }

    .active {
        font-weight: bold;
    }


    .list-product-container {
        display: flex;
        flex-wrap: wrap;
    }

    .product-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 400px;
        width: 33%;
        margin-top: 30px;
        margin-bottom: 10px;
        border-radius: 10px;
    }

        .product-container:hover {
            cursor: pointer;
            /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
            border: 1px solid #ccc;
        }

    .product-img-container {
        height: 250px;
    }

    .product-img {
        display: flex;
        margin: 0px auto;
        max-width: 100%;
        max-height: 100%;
    }

    .product-description-container {
    }

    .product-name {
        text-align: center;
    }

    .product-price {
        text-align: center;
        color: indianred;
    }
</style>

<script>
    const handleProductClick = id => {
        window.location.href = `${window.location.origin}/home/details/${id}`;
    };
</script>